{
  "secrets": [
    {
      "path": "path/toff/secretr122223",
      "entries": [
        {
          "db.user": "potatouser",
          "keddddy2": "vasssslue2"
        }
      ]
    },
    {
      "path": "path/tdddo/secretasdassssd1233",
      "entries": [
        {
          "keysss1": "vsssalue1",
          "keyddd2": "vzzzzzalue2",
          "keyddd23": "vzzzzzalue2aaaaa"
        }
      ]
    },
    {
      "path": "path/to/secret12322dcvbcvc23",
      "entries": [
        {
          "key44sss1": "vsssalue1",
          "keyddddd2": "dddd",
          "keyddggd23": "vzzzzzalusse2aaaaa"
        }
      ]
    }
  ]
}